@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  a, button, [role="button"], input[type="button"], input[type="submit"], input[type="reset"] {
    cursor: pointer;
  }

  button:disabled, [role="button"][aria-disabled="true"], input:disabled {
    cursor: not-allowed;
  }
}
